@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Lexend+Deca&family=Noto+Sans+Mono:wght@300&display=swap');

body{
  font-family: 'Noto Sans Mono', monospace;
  background-color: black;
  color: green;
}

h1 {
  background-color: black;
  color: green;
  text-align: center;
}

button{
  background-color: green;
  border:none;
  border-radius:8px;
  text-decoration: none;
  padding: 10px 30px;
  margin:15px;
  font-family: 'Noto Sans Mono', monospace;
  font-weight: bold;
  min-width: 20%;
}

button:hover{
  background-color: darkgreen;
  color: lightgreen;
  box-shadow: 2px 4px;
}

.wrapper{ 
  position: fixed;
  top: 30%; 
  left: 35%; 
  margin: auto; 
  display: flex; 
  flex-direction:column;

  justify-content:space-between;
  align-items:center;
  
  border-left: 3px ridge green;
  border-right: 3px ridge green; 
  border-radius: 3rem; 
  width: 30%;

  
}

.displayTime{
  margin: 10px 0px 20px;
  font-size: 25px;
}

.linkhome {
  color: green;
  border-left: 3px ridge green;
  border-right: 3px ridge green;
  width: 10%;
  margin-top: 30px;
  border-radius: 0.75rem;
  text-align: center;
  padding: 5px 10px;
  font-size: 20px;
}
.linkhome:hover {
  color: lightgreen;
  border-color: lightgreen;
}
